body {

    text-align: center;

}

.h1 {
    font-size: 50px;

    color: aqua;

    font-family: monospace;
}

.line {

    width: 100px;

    height: 5px;

    background-color: black;

    margin: 40px auto;

}

#apps {
    width: 100%;

    height: 800px;

    background-color: aquamarine;

    margin: 45px auto;
}

#games {
    width: 100%;

    height: 800px;

    background-color: crimson;
}

#chatbot {
    width: 100%;

    height: 800px;

    background-color: deeppink;
}

img {
    transition: transform .2s;
    margin-left: 100px;
    border: 10px solid red;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    transform: scale(0.9);
}
